body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  justify-items: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h1 {
  grid-column: 1;
}
label,
input,
button {
  grid-column: 1;
}

.mainheadline {
  color: darkcyan;
  font-style: italic;
}

form {
  border: 1px solid rgb(186, 41, 41);
}

input {
  background-color: lightgreen;
}

table, tr, td {
  border: 3px solid purple;
}